VITE_SUPABASE_PROJECT_ID="xitpsqtcxraejzlxvvmn"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpdHBzcXRjeHJhZWp6bHh2dm1uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NTIwOTUsImV4cCI6MjA4OTUyODA5NX0.MdJXkgi6hVWVvg74ndI3iaAvKX-iCYmfdZHBPDm-js0"
VITE_SUPABASE_URL="https://xitpsqtcxraejzlxvvmn.supabase.co"
